<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Maxim Derboven">
    <title>Movies Project UI</title>

    <!-- Favicons-->
    <link rel="apple-touch-icon" sizes="180x180" href="/src/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/src/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/src/favicon/favicon-16x16.png">
    <link rel="manifest" href="/src/favicon/site.webmanifest">
    <link rel="mask-icon" href="/src/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body>

<div class="container py-3">
    <header>
        <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center text-dark text-decoration-none" id="logo">
                <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon" viewBox="0 0 20 20" role="img">
                    <path
                            d="M18.175,4.142H1.951C1.703,4.142,1.5,4.344,1.5,4.592v10.816c0,0.247,0.203,0.45,0.451,0.45h16.224c0.247,0,0.45-0.203,0.45-0.45V4.592C18.625,4.344,18.422,4.142,18.175,4.142 M4.655,14.957H2.401v-1.803h2.253V14.957zM4.655,12.254H2.401v-1.803h2.253V12.254z M4.655,9.549H2.401V7.747h2.253V9.549z M4.655,6.846H2.401V5.043h2.253V6.846zM14.569,14.957H5.556V5.043h9.013V14.957z M17.724,14.957h-2.253v-1.803h2.253V14.957z M17.724,12.254h-2.253v-1.803h2.253V12.254zM17.724,9.549h-2.253V7.747h2.253V9.549z M17.724,6.846h-2.253V5.043h2.253V6.846z"
                            fill="currentColor"></path>
                </svg>
                <span class="fs-4">Movie Reviewer</span>
            </a>

            <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
                <div class="nav" id="nav-tab" role="tablist">
                    <a class="me-3 py-2 text-dark text-decoration-none nav-link active" id="nav-home-tab"
                       data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
                       aria-selected="true">Home</a>
                    <a class="me-3 py-2 text-dark text-decoration-none nav-link" id="nav-detail-tab"
                       data-bs-toggle="tab"
                       data-bs-target="#nav-detail" type="button" role="tab" aria-controls="nav-detail"
                       aria-selected="true">Detail</a>
                    <a class="me-3 py-2 text-dark text-decoration-none nav-link" id="nav-search-tab"
                       data-bs-toggle="tab"
                       data-bs-target="#nav-search" type="button" role="tab" aria-controls="nav-search"
                       aria-selected="true">Search</a>
                    <a class="py-2 text-dark text-decoration-none nav-link" id="nav-new-tab" data-bs-toggle="tab"
                       data-bs-target="#nav-new" type="button" role="tab" aria-controls="nav-new"
                       aria-selected="true">New Movie</a>
                </div>
            </nav>
        </div>
    </header>
    <!-- in de index.html file -->
    <main>
        <div class="tab-content" id="nav-tabContent">
            <%= require('html-loader!./panes/home.html').default %>
            <%= require('html-loader!./panes/detail.html').default %>
            <%= require('html-loader!./panes/search.html').default %>
            <%= require('html-loader!./panes/new.html').default %>
        </div>
    </main>

    <footer class="pt-4 my-md-5 pt-md-5 border-top text-center">
        <!-- Grid container -->
        <div class="container pt-4">
            <!-- Section: Social media -->
            <section class="mb-4">
                <!-- Facebook -->
                <a
                        class="btn btn-link btn-floating btn-lg  m-1"
                        href="https://www.facebook.com/"
                        role="button"
                        data-mdb-ripple-color="dark"
                ><i class="bi bi-facebook"></i></a>

                <!-- Twitter -->
                <a
                        class="btn btn-link btn-floating btn-lg m-1"
                        href="https://twitter.com/"
                        role="button"
                        data-mdb-ripple-color="dark"
                ><i class="bi bi-twitter"></i></a>

                <!-- Google -->
                <a
                        class="btn btn-link btn-floating btn-lg m-1"
                        href="https://www.google.be/?hl=nl"
                        role="button"
                        data-mdb-ripple-color="dark"
                ><i class="bi bi-google"></i></a>

                <!-- Instagram -->
                <a
                        class="btn btn-link btn-floating btn-lg m-1"
                        href="https://instagram.com/"
                        role="button"
                        data-mdb-ripple-color="dark"
                ><i class="bi bi-instagram"></i></a>

                <!-- Linkedin -->
                <a
                        class="btn btn-link btn-floating btn-lg  m-1"
                        href="https://nl.linkedin.com/"
                        role="button"
                        data-mdb-ripple-color="dark"
                ><i class="bi bi-linkedin"></i>
                </a>
                <!-- Github -->
                <a
                        class="btn btn-link btn-floating btn-lg m-1"
                        href="https://github.com/"
                        role="button"
                        data-mdb-ripple-color="dark"
                ><i class="bi bi-github"></i></a>
            </section>
            <!-- Section: Social media -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            Maxim Derboven INF203 - <a href="mailto:maxim.derboven@student.kdg.be">maxim.derboven@student.kdg.be</a>
        </div>
        <!-- Copyright -->
    </footer>
</div>


</body>
</html>
